[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[hiwifi]
row=0
col=0

[Filesystem root]
row=0
col=1

[758b67c5-2436-4d4b-850d-c8a386a15b5b]
row=3
col=0

[unas]
row=1
col=1

[/]
row=1
col=0

[/home/kevin]
row=2
col=0

